.container.div_pad
  .col-md-12
    .form-area
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        %br{:style => "clear:both"}/
        %h3{:style => "margin-bottom: 25px; text-align: center;"} Register
        
        .form-group
          = f.text_field :username, autofocus: true, autocomplete: "username", :placeholder => "username", :required => "", class: "form-control" 
        .form-group
          = f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", :required => "", class: "form-control" 
        .form-group
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "off", :placeholder => "password", :required => "", class: "form-control" 
        .form-group
          = f.password_field :password_confirmation, autocomplete: "off", :placeholder => "confirm password", :required => "", class: "form-control"
        .actions
          = f.submit "Sign up", class: "btn btn-primary pull-right"
      
      = link_to "Login", new_user_session_path, class: "btn"
