%h1.text-center Campaigns List
%br
.container
  .col-md-12
    %table.table
      %thead
        %tr
          %th Title
          %th Tags
          %th Estimated duration
          -if current_user.expert?
            %th.text-center{colspan: "3"} Action 

      %tbody
        - @campaigns.each do |campaign|
          %tr
            %td.wrap= campaign.title
            %td.wrap= campaign.tags.join(", ")
            %td.wrap= campaign.estimated_duration
            - if current_user.expert?
              %td= link_to 'Show', campaign
              %td= link_to 'Edit', edit_campaign_path(campaign)
              %td= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' }

%br
- if current_user.expert?
  = link_to 'Create Campaign', new_campaign_path, class: "btn col-md-12"
